h1{
    color:rgb(218, 20, 86);
    margin-left: 550px;
}
    .a{
        border:solid 5px rgb(189, 21, 77);
        background-color:gray;
       width: 50px;
        height: 600px; 
        margin-left:600px;
        margin-right:100px;
        float-left: 1 px;
        color:crimson;
        margin-tdarksalmonop: 40px;
        font-size: larger;
    align-items: center;
    margin-top: 15px;
}
    a {
        color: #ffebcd;
        margin-top: 20px;
        margin-bottom: 2px;
        padding-left: 100px;
        font-size: xx-large;
    }
    p{
        font-size: larger;
        margin-left: 50px;
    }
    footer{
        font-size: medium;
        color: whitesmoke;
        font-family: cursive;
    }